@using AsisPas.Entitys;
@model IEnumerable<Gate>

@{
    ViewBag.Encabezado = ViewData["Title"] = "Puntos De Acceso";
    ViewBag.GateListActive = "active";
    ViewBag.EmpresaMenu = "open";
    ViewBag.ActiveEncabezado = true;
    string mensaje = ViewBag.Err;
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                   
                        <a asp-controller="Gates" asp-action="Crear"  alt="Crear Nuevo" class="btn btn-danger btn-add-alau ml-3 mr-2">
                            <i class="ft-plus font-medium-5"></i>
                        </a>
                   
                    <h4 class="card-title"> @ViewBag.Encabezado</h4>
                </div>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    @if (mensaje != " " && mensaje != "" && mensaje != null)  
                    {
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>Mensaje: </strong> @mensaje
                        </div>
                    }
                    @if (Model == null || Model.Count() < 1)
                    {
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            <strong>Mensaje: </strong> No Hay Accesos agregados en este momento
                        </div>

                    }
                </div>
                <div class="table-responsive pb-4 pr-4 pl-4">
                    <table id="TableAlau" class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Empresa
                                </th>
                                <th scope="col">
                                    Sede
                                </th>
                                <th scope="col">
                                    Desc
                                </th>
                                <th scope="col">
                                    Codigo
                                </th>
                                <th scope="col">
                                    Activo
                                </th>
                                <th scope="col">
                                    <i class="la la-gears"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                                @foreach (var item in Model)
                                {
                                    <tr class="line--hover">
                                        <td scope="row">
                                            @Html.DisplayFor(modelItem => item.Sede.Empresa.Nombre)
                                        </td>
                                        <td scope="row">
                                            @Html.DisplayFor(modelItem => item.Sede.Nombre)
                                        </td>
                                        <td scope="row">
                                            @Html.DisplayFor(modelItem => item.Desc)
                                        </td>
                                        <td scope="row">
                                            @Html.DisplayFor(modelItem => item.code)
                                        </td>
                                         <td scope="row">
                                           @if(item.act)
                                           {
                                            <p class="badge badge-success">SI</p>
                                           }else
                                           {
                                            <p class="badge badge-danger">NO</p>
                                           }  
                                       </td>
                                        <td>
                                              @if(item.act)
                                           {
                                             <a asp-action="Eliminar" asp-route-id="@item.id" alt="Eliminar" class="la la-remove text-danger">  </a>
                                           }else
                                           {
                                             <a asp-action="Activar" asp-route-id="@item.id" alt="Activar" class="la la-remove text-success">  </a>
                                           } 
                                        </td>
                                    </tr>

                                }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>