
@using AsisPas.Entitys;
@model IEnumerable<Cambios>

@{
    ViewBag.Encabezado = ViewData["Title"] = "Cambios Generados";
    ViewBag.CambiosActive = "active";
    ViewBag.MarcasMenu = "open";
    ViewBag.ActiveEncabezado = true;
    string mensaje = ViewBag.Err;
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                   
                        <a asp-controller="Cambios" asp-action="Nuevo" alt="Crear Nuevo" class="btn btn-danger btn-add-alau ml-3 mr-2">
                            <i class="ft-plus font-medium-5"></i>
                        </a>
                   
                    <h4 class="card-title"> @ViewBag.Encabezado</h4>
                </div>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    @if (mensaje != " " && mensaje != "" && mensaje != null)  
                    {
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>Mensaje: </strong> @mensaje
                        </div>
                    }
                     @if (Model == null || Model.Count() < 1)  
                    {
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            <strong>Mensaje: </strong> No Hay Datos en este Momento
                        </div>
                    }
                </div>
                <div class="table-responsive pb-4 pr-4 pl-4">
                    <table id="TableAlau" class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Fecha
                                </th>
                                <th scope="col">
                                    Hora
                                </th>
                                <th scope="col">
                                    Marca
                                </th>
                                <th scope="col">
                                    Rut
                                </th>
                                <th scope="col">
                                    Nombre
                                </th>
                                <th scope="col">
                                    Razon
                                </th>
                                 <th scope="col">
                                    <i class="la la-gears"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                                @foreach (var item in Model)
                                {
                                    <tr class="line--hover">
                                        <td scope="row">
                                            @item.fecha.ToString("dd/MM/yyyy")
                                        </td>
                                        <td scope="row">
                                            @Html.DisplayFor(modelItem => item.Hora)
                                        </td>
                                        <td scope="row">
                                            @Html.DisplayFor(modelItem => item.tipoMarca)
                                        </td>
                                        <td scope="row">
                                            @Html.DisplayFor(modelItem => item.Empleado.user.Rut)
                                        </td>
                                        <td scope="row">
                                            @Html.DisplayFor(modelItem => item.Empleado.user.Nombres)
                                        </td>
                                        <td scope="row">
                                            @Html.DisplayFor(modelItem => item.Razon)
                                        </td>
                                        <td>
                                             <a asp-action="Eliminar" asp-route-id="@item.id" alt="Eliminar" class="la la-remove text-danger">  </a>
                                        </td>
                                    </tr>

                                }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
