@using AsisPas.Reportes.Domingos

@{
    ViewBag.Encabezado = ViewData["Title"] = "Reporte De Domingos Y Feriados";
    ViewBag.ReporteDomActive = "active";
    ViewBag.ReporteMenu = "open";
    ViewBag.ActiveEncabezado = true;
    string mensaje = ViewBag.Err;
    List<ReporteDonFerActual> Reportes = ViewBag.Reportes; 
    


}

 @if (mensaje != " " && mensaje != "" && mensaje != null)  
 {
     <div class="card-body">
         <div class="alert alert-warning alert-dismissible fade show" role="alert">
             <strong>Mensaje: </strong> @mensaje
         </div>
     </div>
 }
  @if (Reportes == null || Reportes.Count() < 1)  
 {
     <div class="card-body">
         <div class="alert alert-info alert-dismissible fade show" role="alert">
             <strong>Mensaje: </strong> No Hay Datos en este Momento
         </div>
     </div>
 }


@foreach(var reporte in Reportes)
{
    <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-danger text-white">
                <div class="d-flex align-items-center">
                    <h4 class="card-title text-white"> @reporte.NombreEmpleado </h4>
                </div>
                 
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                    </ul>
                </div>
                <div class="mt-1">
                    <h6 class="card-subtitle text-white">@reporte.RutEmpleado</h6>   
                </div>
                <div class="float-right ml-1">
                    <div class="btn-group center">

                        <form method="post" asp-action="Excel" >

                            <input hidden type="text" id="Empleadoid" name="Empleadoid" value=@reporte.idEmpleado>
                            <input hidden class="form-control" type="date" aria-describedby="addon-wrapping1" value=@ViewBag.fechai name="Finicio" id="Finicio" />
                            <input hidden class="form-control" type="date" aria-describedby="addon-wrapping2" value=@ViewBag.fechaf name="Ffin" id="Ffin" />

                            <button type="submit" class="btn btn-success"><i class="la la-file-excel-o"></i></button>
                        </form>
                           <form asp-action="Pdf" >

                            <input hidden type="text" id="Empleadoid" name="Empleadoid" value=@reporte.idEmpleado>
                            <input hidden class="form-control" type="date" aria-describedby="addon-wrapping1" value=@ViewBag.fechai name="Finicio" id="Finicio" />
                            <input hidden class="form-control" type="date" aria-describedby="addon-wrapping2" value=@ViewBag.fechaf name="Ffin" id="Ffin" />

                            <button type="submit" class="btn btn-light"><i class="la la-file-pdf-o"></i></button>
                        </form>
                           <form asp-action="Word" >

                            <input hidden type="text" id="Empleadoid" name="Empleadoid" value=@reporte.idEmpleado>
                            <input hidden class="form-control" type="date" aria-describedby="addon-wrapping1" value=@ViewBag.fechai name="Finicio" id="Finicio" />
                            <input hidden class="form-control" type="date" aria-describedby="addon-wrapping2" value=@ViewBag.fechaf name="Ffin" id="Ffin" />

                            <button type="submit" class="btn btn-primary"><i class="la la-file-word-o"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-content collapse show">
             <div>
                        @if(reporte.Mensaje != "")
                        {
                            <div class="card-body">
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong>Mensaje: </strong> @reporte.Mensaje
                                </div>
                            </div>
                        }
                        <ul class="list-group list-group-flush">
                     <li class="list-group-item">
                         Empresa: <strong> @reporte.NombreEmpresa</strong>
                         <br/>
                         RUT: <strong> @reporte.RutEmpresa</strong>
                     </li>
                     <li class="list-group-item">
                        Lugar Pretacion Servicio: @reporte.NombreSede
                         <br/>
                        Direccion: @reporte.DireccionDelaSede
                     </li>
                     <li class="list-group-item">
                        Turno: @reporte.NombreHorario
                     </li>
                     <li class="list-group-item">
                        Periodo: @reporte.inicio.ToString("dd/MM/yyyy") al @reporte.fin.ToString("dd/MM/yyyy")
                     </li>
                     
                     <li class="list-group-item">
                        Domingos Del Periodo: @reporte.totalDomingosenPeriodo
                        <br/>
                        Domingos Laborados: @reporte.totalDomingos
                     </li>
                     <li class="list-group-item">
                        feraiados Del Periodo: @reporte.totalFeriadosenPeriodo
                        <br/>
                        Feriados Laborados: @reporte.totalFeriados
                     </li>
                 </ul>
             </div> 
              <div class="mt-2">
                   @if(reporte.Anual != null && reporte.Anual.Count > 0)
                            @foreach (var item in reporte.Anual)
                            {
                                
                 <div class="table-responsive pb-4 pr-4 pl-4">
                     <div class="mt-1 pt-1 card-subtitle text-center badge-danger">
                         <h3 class="text-white">Periodo anual del @item.inicio.ToString("dd/MM/yyyy") al  @item.fin.ToString("dd/MM/yyyy")</h3>
                     </div>
                                    @foreach(var mount in item.Mensual)
                                    {
                                        <div class="mt-1 card-subtitle text-center">
                                             <h3>Periodo mensual del @mount.inicio.ToString("dd/MM/yyyy") al  @mount.fin.ToString("dd/MM/yyyy")</h3>
                                             
                                        </div>

                                        <table id="TableAlau" class="table table-striped">
                                         <thead>
                                             <tr>
                                                 <th scope="col">
                                                     fecha
                                                 </th>
                                                 <th scope="col">
                                                     Asistio
                                                 </th>
                                                 <th scope="col">
                                                     Observacion
                                                 </th>
                                                  <th scope="col">
                                                     <i class="la la-gears"></i>
                                                 </th>
                                             </tr>
                                         </thead>
                                        <tbody>
                                        @foreach(var dia in mount.Diario)
                                          {
                                              <tr class="line--hover">
                                                  <td scope="row">
                                                     @dia.fecha.ToString("dd/MM/yyyy")
                                                  </td>
                                                  <td scope="row">
                                                     @dia.Asistio
                                                  </td>
                                                  <td scope="row">
                                                     @dia.Observacion
                                                  </td>
                                                  <td scope="row">
                                                     
                                                  </td>
                                                 
                                              </tr>
                                          }
                                     </tbody>
                                    </table>
                                    

                                     <table  class="table table-striped">
                             <thead>
                                 <tr>
                                     <th>
                                         Domingos del mes
                                     </th>
                                     
                                     <th>
                                         Domingos Laborados
                                     </th>
                                     <th>
                                         Feriados del mes
                                     </th>
                                     <th>
                                         Feriados Laborados
                                     </th>
                                 </tr>
                             </thead>
                             <tbody>
                                 <tr>
                                     <td>
                                          @mount.totalDomingosenPeriodo
                                     </td>
                                     <td>
                                          @mount.totalDomingos
                                     </td>
                                     <td>
                                          @mount.totalFeriadosenPeriodo
                                     </td>
                                     <td>
                                         @mount.totalFeriados
                                     </td>
                                 </tr>
                                 
                             </tbody>
                         </table>



                                
                                }


                                  <table  class="table table-striped">
                             <thead>
                                 <tr>
                                     <th>
                                         Domingos del año
                                     </th>
                                     
                                     <th>
                                         Domingos Laborados
                                     </th>
                                     <th>
                                         Feriados del año
                                     </th>
                                     <th>
                                         Feriados Laborados
                                     </th>
                                 </tr>
                             </thead>
                             <tbody>
                                 <tr>
                                     <td>
                                          @item.totalDomingosenPeriodo
                                     </td>
                                     <td>
                                          @item.totalDomingos
                                     </td>
                                     <td>
                                          @item.totalFeriadosenPeriodo
                                     </td>
                                     <td>
                                         @item.totalFeriados
                                     </td>
                                 </tr>
                                 
                             </tbody>
                         </table>

                             </div>
                            }
                </div>
            </div>
                        
            <div class="card-footer">
                <h6 class="card-subtitle"> Fecha Solicitud Reporte: @reporte.FechaGenerado.ToString("dd/MM/yyyy") </h6>
            </div>
            </div>
            </div>
        </div>

        }