@using AsisPas.Reportes.Excesojornada


@{
    ViewBag.Encabezado = ViewData["Title"] = "Reporte Por Exceso De Jornada";
    ViewBag.ReporteXZActive = "active";
    ViewBag.ReporteMenu = "open";
    ViewBag.ActiveEncabezado = true;
    string mensaje = ViewBag.Err;
    List<ReporteExcesosActual> Reportes = ViewBag.Reportes; 

}

 @if (mensaje != " " && mensaje != "" && mensaje != null)  
 {
     <div class="card-body">
         <div class="alert alert-warning alert-dismissible fade show" role="alert">
             <strong>Mensaje: </strong> @mensaje
         </div>
     </div>
 }
  @if (Reportes == null || Reportes.Count() < 1)  
 {
     <div class="card-body">
         <div class="alert alert-info alert-dismissible fade show" role="alert">
             <strong>Mensaje: </strong> No Hay Datos en este Momento
         </div>
     </div>
 }


@foreach(var reporte in Reportes)
{
    <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-danger text-white">
                <div class="d-flex align-items-center">
                    <h4 class="card-title text-white"> @reporte.NombreEmpleado </h4>
                </div>
                 
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                    </ul>
                </div>
                <div class="mt-1">
                    <h6 class="card-subtitle text-white">@reporte.RutEmpleado</h6>   
                </div>
                <div class="float-right ml-1">
                    <div class="btn-group center">

                        <form method="post" asp-action="Excel" >

                            <input hidden type="text" id="Empleadoid" name="Empleadoid" value=@reporte.idEmpleado>
                            <input hidden class="form-control" type="date" aria-describedby="addon-wrapping1" value=@ViewBag.fechai name="Finicio" id="Finicio" />
                            <input hidden class="form-control" type="date" aria-describedby="addon-wrapping2" value=@ViewBag.fechaf name="Ffin" id="Ffin" />

                            <button type="submit" class="btn btn-success"><i class="la la-file-excel-o"></i></button>
                        </form>
                           <form asp-action="Pdf" >

                            <input hidden type="text" id="Empleadoid" name="Empleadoid" value=@reporte.idEmpleado>
                            <input hidden class="form-control" type="date" aria-describedby="addon-wrapping1" value=@ViewBag.fechai name="Finicio" id="Finicio" />
                            <input hidden class="form-control" type="date" aria-describedby="addon-wrapping2" value=@ViewBag.fechaf name="Ffin" id="Ffin" />

                            <button type="submit" class="btn btn-light"><i class="la la-file-pdf-o"></i></button>
                        </form>
                           <form asp-action="Word" >

                            <input hidden type="text" id="Empleadoid" name="Empleadoid" value=@reporte.idEmpleado>
                            <input hidden class="form-control" type="date" aria-describedby="addon-wrapping1" value=@ViewBag.fechai name="Finicio" id="Finicio" />
                            <input hidden class="form-control" type="date" aria-describedby="addon-wrapping2" value=@ViewBag.fechaf name="Ffin" id="Ffin" />

                            <button type="submit" class="btn btn-primary"><i class="la la-file-word-o"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-content collapse show">
             <div>
                @if(reporte.Mensaje != "")
                        {
                            <div class="card-body">
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong>Mensaje: </strong> @reporte.Mensaje
                                </div>
                            </div>
                        }
                 
                 <ul class="list-group list-group-flush">
                     <li class="list-group-item">
                         Empresa: <strong> @reporte.NombreEmpresa</strong>
                         <br/>
                         RUT: <strong> @reporte.RutEmpresa</strong>
                     </li>
                     <li class="list-group-item">
                        Lugar Pretacion Servicio Asignado: @reporte.NombreSede
                         <br/>
                        Direccion: @reporte.DireccionDelaSede
                     </li>
                     <li class="list-group-item">
                        Turno Actual: @reporte.NombreHorario
                     </li>
                     <li class="list-group-item">
                        Periodo: @reporte.inicio.ToString("dd/MM/yyyy") al @reporte.fin.ToString("dd/MM/yyyy")
                     </li>
                     <li class="list-group-item">
                        Tiempo Exceso Del Periodo: @reporte.ExcesoPeriodo.toStr()
                     </li>
                     <li class="list-group-item">
                        Tiempo Atrazo Del Periodo: @reporte.AtrazosPeriodo.toStr()
                     </li>
                      @if (reporte.AfavorEmpresa)
                      {
                          <li class="list-group-item">
                            Tiempo Que Debe Reponer El Empleado: @reporte.DiferencialPeriodo.toStr()
                          </li>
                      }
                      else
                      {
                         <li class="list-group-item">
                           Tiempo Que Debe Reponer El Empleador: @reporte.DiferencialPeriodo.toStr()
                         </li>
                      }
                     
                 </ul>
             </div> 
             @if(reporte.Semanales != null && reporte.Semanales.Count > 0)
             {
                @foreach (var SEM in reporte.Semanales)
                 {
                    <div class="mt-2">
                       
                        <div class="pt-1 badge-danger text-white">
                            <h5 class="card-subtitle text-white text-center">
                                Semana del @SEM.inicio.ToString("dd/MM/yyyy") al @SEM.fin.ToString("dd/MM/yyyy")
                            </h5>
                        </div>
                        <div class="table-responsive pb-4 pr-4 pl-4">
                           <table id="TableAlau" class="table table-striped">
                            <thead>
                                 <tr>
                                     <th scope="col">
                                         
                                     </th>
                                     <th scope="col" colspan=2>
                                         Jornada Pactada
                                     </th>
                                     <th scope="col" colspan=2>
                                         Jornada Laborada
                                     </th>
                                     <th scope="col" colspan=2>
                                         Atrazos y Excesos
                                     </th>
                                    
                                 </tr>
                                 <tr>
                                    <th scope="col">
                                        Fecha
                                    </th>
                                    <th scope="col">
                                        Jornada
                                    </th>
                                    <th scope="col">
                                        Descanso
                                    </th>
                                    <th scope="col">
                                        Jornada
                                    </th>
                                    <th scope="col">
                                        Descanso
                                    </th>
                                     <th scope="col">
                                        Atrazos
                                    </th>
                                     <th scope="col">
                                        Excesos
                                    </th>
                                 </tr>
                            </thead>
                            <tbody>
                           
                                @foreach (var item in SEM.Diarios)
                                {
                                    <tr class="line--hover">
                                        <td scope="row">
                                            @item.fecha.ToString("dd/MM/yyyy")
                                        </td>
                                          @if(item.Horario == null || item.Horario.InicioJornada == item.Horario.InicioDescanzo)
                                          {
                                              <td scope="row" colspan=2>
                                                No Hay Horario para esta fecha
                                             </td>
                                           }
                                           else
                                           {
                                                <td scope="row">
                                                    @item.Horario.InicioJornada - @item.Horario.FinJornada                                                
                                               </td>
                                                <td scope="row">
                                                    @item.Horario.InicioDescanzo - @item.Horario.FinDescazo
                                                </td>
                                                  
                                           }

                                            @if(item.Marcas == null || item.Marcas.InicioJornada == item.Marcas.InicioDescanzo)
                                          {
                                              <td scope="row" colspan=2>
                                                No Hay Marcas Validas para esta fecha
                                             </td>
                                           }  
                                           else
                                           {
                                                <td scope="row">
                                                    @item.Marcas.InicioJornada - @item.Marcas.FinJornada                                                
                                               </td>
                                                <td scope="row">
                                                    @item.Marcas.InicioDescanzo - @item.Marcas.FinDescazo
                                                </td>
                                           }

                                        <td scope="row">
                                            @item.Atrazos.toStr()
                                        </td>
                                        <td scope="row">
                                            @item.Exceso.toStr()
                                        </td>
                                       
                                    </tr>

                                }
                        </tbody>
                           </table>
                       </div>
                        

                        <div class="table-responsive pb-4 pr-4 pl-4">
                           <table id="TableAlau" class="table table-striped">
                            <thead>
                               
                                 <tr>
                                    <th scope="col">
                                        Total Excesos
                                    </th>
                                    <th scope="col">
                                        Total Atrazos
                                    </th>
                                    <th scope="col">
                                        Compensacion
                                    </th>
                                    
                                 </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <td scope="row">
                                    @SEM.Exceso.toStr()
                                </td>
                                <td scope="row">
                                    @SEM.Atrazos.toStr()
                                </td>
                                 @if(SEM.AfavorEmpresa == true)
                                 {
                                     <td scope="row">
                                        El Empleado debe Reponer @SEM.Compensacion.toStr()
                                     </td>
                                 }
                                 else
                                 {
                                     <td scope="row">
                                        El Empleador debe Reponer @SEM.Compensacion.toStr()
                                     </td>
                                 }
                                </tr>
                            </tbody>
                           </table>
                       </div>

                    </div>
                    }}
           
        </div>
            <div class="card-footer">
                <h6 class="card-subtitle"> Fecha Solicitud Reporte: @reporte.FechaGenerado.ToString("dd/MM/yyyy") </h6>
            </div>
    </div>
</div>
</div>

}