@using AsisPas.Reportes.CambiosTurno


@{
    ViewBag.Encabezado = ViewData["Title"] = "Reporte de modificaciones o alteraciones de turno";
    ViewBag.CambioTActive = "active";
    ViewBag.ReporteMenu = "open";
    ViewBag.ActiveEncabezado = true;
    string mensaje = ViewBag.Err;
    List<ReporteCombioDeTurno> Reportes = ViewBag.Reportes; 
}

 @if (mensaje != " " && mensaje != "" && mensaje != null)  
 {
     <div class="card-body">
         <div class="alert alert-warning alert-dismissible fade show" role="alert">
             <strong>Mensaje: </strong> @mensaje
         </div>
     </div>
 }
  @if (Reportes == null || Reportes.Count() < 1)  
 {
     <div class="card-body">
         <div class="alert alert-info alert-dismissible fade show" role="alert">
             <strong>Mensaje: </strong> No Hay Datos en este Momento
         </div>
     </div>
 }


@foreach(var reporte in Reportes)
{
    <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-danger text-white">
                <div class="d-flex align-items-center">
                    <h4 class="card-title text-white"> @reporte.NombreEmpleado </h4>
                </div>
                 
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                    </ul>
                </div>
                <div class="mt-1">
                    <h6 class="card-subtitle text-white">@reporte.RutEmpleado</h6>   
                </div>
                <div class="float-right ml-1">
                    <div class="btn-group center">

                        <form method="post" asp-action="Excel" >

                            <input hidden type="text" id="Empleadoid" name="Empleadoid" value=@reporte.idEmpleado>
                            <input hidden class="form-control" type="date" aria-describedby="addon-wrapping1" value=@ViewBag.fechai name="Finicio" id="Finicio" />
                            <input hidden class="form-control" type="date" aria-describedby="addon-wrapping2" value=@ViewBag.fechaf name="Ffin" id="Ffin" />

                            <button type="submit" class="btn btn-success"><i class="la la-file-excel-o"></i></button>
                        </form>
                           <form asp-action="Pdf" >

                            <input hidden type="text" id="Empleadoid" name="Empleadoid" value=@reporte.idEmpleado>
                            <input hidden class="form-control" type="date" aria-describedby="addon-wrapping1" value=@ViewBag.fechai name="Finicio" id="Finicio" />
                            <input hidden class="form-control" type="date" aria-describedby="addon-wrapping2" value=@ViewBag.fechaf name="Ffin" id="Ffin" />

                            <button type="submit" class="btn btn-light"><i class="la la-file-pdf-o"></i></button>
                        </form>
                           <form asp-action="Word" >

                            <input hidden type="text" id="Empleadoid" name="Empleadoid" value=@reporte.idEmpleado>
                            <input hidden class="form-control" type="date" aria-describedby="addon-wrapping1" value=@ViewBag.fechai name="Finicio" id="Finicio" />
                            <input hidden class="form-control" type="date" aria-describedby="addon-wrapping2" value=@ViewBag.fechaf name="Ffin" id="Ffin" />

                            <button type="submit" class="btn btn-primary"><i class="la la-file-word-o"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-content collapse show">
             <div>
                 @if(reporte.Mensaje != "")
                        {
                            <div class="card-body">
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong>Mensaje: </strong> @reporte.Mensaje
                                </div>
                            </div>
                        }

                 <ul class="list-group list-group-flush">
                     <li class="list-group-item">
                         Empresa: <strong> @reporte.NombreEmpresa</strong>
                         <br/>
                         RUT: <strong> @reporte.RutEmpresa</strong>
                     </li>
                     <li class="list-group-item">
                        Lugar Pretacion Servicio: @reporte.NombreSede
                         <br/>
                        Direccion: @reporte.DireccionDelaSede
                     </li>
                     <li class="list-group-item">
                        Turno: @reporte.NombreHorario
                     </li>
                     <li class="list-group-item">
                        Periodo: @reporte.inicio.ToString("dd/MM/yyyy") al @reporte.fin.ToString("dd/MM/yyyy")
                     </li>
                     
                 </ul>
             </div> 
             <div class="mt-2">
                 <div class="table-responsive pb-4 pr-4 pl-4">
                    <table id="TableAlau" class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Asignacion Turno Anterior
                                </th>
                                <th scope="col">
                                   Dias Turno Anterior
                                </th>
                                <th scope="col">
                                   Horario Turno Anterior
                                </th>
                                <th scope="col">
                                    Asignacion Turno
                                </th>
                                
                                <th scope="col">
                                    Dias Turno
                                </th>
                                <th scope="col">
                                    Horario
                                </th>
                                <th scope="col">
                                    Solicitante del cambio
                                </th>
                                <th scope="col">
                                    Observacion
                                </th>
                                 <th scope="col">
                                    <i class="la la-gears"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if(reporte.cambios != null && reporte.cambios.Count > 0)
                                @foreach (var item in reporte.cambios)
                                {
                                    <tr class="line--hover">
                                        @if (item.Anterior == null)
                                        {
                                           <td scope="row" colspan="3">
                                               Primer Horario asignado
                                           </td>
                                         
                                        }
                                        else
                                        {
                                            <td scope="row">
                                                @item.Anterior.Modificacion.ToString("dd/MM/yyyy")
                                            </td>
                                            <td scope="row">
                                                @item.Anterior.Horario.ListDiasLaborales()
                                            </td>
                                             <td scope="row">
                                                @item.Anterior.Horario.hi - @item.Anterior.Horario.hf 
                                            </td>
                                        }
                                        <td scope="row">
                                            @item.nuevo.Modificacion.ToString("dd/MM/yyyy")
                                        </td>
                                        <td scope="row">
                                            @item.nuevo.Horario.ListDiasLaborales()
                                        </td>
                                        <td scope="row">
                                            @item.nuevo.Horario.hi - @item.nuevo.Horario.hf 
                                        </td>
                                        
                                        <td scope="row">
                                            @Html.DisplayFor(modelItem => item.SolicitanteCambio)
                                        </td>
                                        <td scope="row">
                                            @Html.DisplayFor(modelItem => item.Desc)
                                        </td>
                                        <td>
                                            
                                        </td>
                                    </tr>

                                }
                        </tbody>
                    </table>
                </div>

             </div>
             
            </div>
            <div class="card-footer">
                <h6 class="card-subtitle"> Fecha Solicitud Reporte: @reporte.FechaGenerado.ToString("dd/MM/yyyy") </h6>
            </div>
        </div>
    </div>
</div>

}
